# BOOTCAMPERS TO COMPLETE.

# This file lists the required Python packages to install.

# Packages listed in alphabetical order
numpy
opencv-python
pytest

# PyTorch

# ============
# ↓ BOOTCAMPERS MODIFY BELOW THIS COMMENT ↓
# ============

# Based on: https://pytorch.org/get-started/previous-versions/#wheel-1
# If you are on MacOS, don't have a CUDA capable GPU,
# or if things don't work and you just want to use the CPU,
# comment out the "--extra-index-url" option
--extra-index-url https://download.pytorch.org/whl/cu124

# ============
# ↑ BOOTCAMPERS MODIFY ABOVE THIS COMMENT ↑
# ============

torch==2.4.1
torchvision==0.19.1

ultralytics

# Linters and formatters are explicitly versioned
black==24.2.0
flake8-annotations==3.0.1
pylint==3.0.3
